<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TicketServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TicketServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings/>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MetatdataBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MetatdataBehavior" name="TicketServer.Service.TicketService">
                <clear/>
                <endpoint address="ws" binding="basicHttpBinding" contract="TicketServer.Service.ITicketService" listenUriMode="Explicit"/>
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://192.168.0.130:8880/tickets"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <applicationSettings>
        <TicketServer.Properties.Settings>
            <setting name="AvailableLanguages" serializeAs="String">
                <value>en-US;de-DE</value>
            </setting>
        </TicketServer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TicketServer.Properties.Settings>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>de</value>
            </setting>
        </TicketServer.Properties.Settings>
    </userSettings>
</configuration>
